/** Loading Spinner animation */
.loading-spinner {
  border: .3em solid #ced4da;
  border-top: .3em solid #212540;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
